<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to  {{ title }}</h1>
    <p class="lead"></p>
  </div><a class="btn btn-outline-warning btn-lg btn-block" rel="noopener" routerLink="/home">Home</a>
</div>


<ul class="nav justify-content-center">
  <li class="nav-item">
    <h2><a class="nav-link" rel="noopener" routerLink="/auto-flow-component">Auto flow placement</a></h2>
  </li>
  <li class="nav-item">
    <h2><a class="nav-link" rel="noopener" routerLink="/line-based-placement">Line based placement</a></h2>
  </li>
  <li class="nav-item">
    <h2><a class="nav-link" rel="noopener" routerLink="/area-based-placement">Area based placement</a></h2>
  </li>
</ul>
<router-outlet></router-outlet>

